:root {
  --color-text: #eceff1;
  --color-primary: #607d8b;
  --color-secondary: #009688;
  --color-dark: #263238;
  --color-bg: #212121;
  /* --color-accent: #ffc107; */

  --font-primary: "Roboto", sans-serif;
  --font-secondary: "Montserrat", sans-serif;
}