:root {
  --color-text: #263238;
  --color-primary: #90caf9;
  --color-secondary: #42a5f5;
  --color-dark: #1565c0;
  --color-bg: #ffffff;
  --color-accent: #e3f2fd;

  --font-primary: "Roboto", sans-serif;
  --font-secondary: "Montserrat", sans-serif;
}