:root {
  --color-text: #f4f4f4;
  --color-primary: #ff9800;
  --color-secondary: #ffc107;
  --color-dark: #e65100;
  --color-bg: #282A35;

  --color-red-soft: #f28c82; 

  --font-primary: "Roboto", sans-serif;
  --font-secondary: "Montserrat", sans-serif;
}