@import "../../vars.css";

.navbar {
  width: 100%;
  background-color: var(--color-bg);
  color: var(--color-text);
  font-family: var(--font-primary);
  position: sticky;
  top: 0;
  z-index: 10;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  padding: 1rem 0;
}

.navbarContent {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10%;
  width: 100%;
}

.logo {
  font-size: 1.8rem;
  font-weight: bold;
  color: var(--color-primary);
}

.menuIcon {
  display: none;
  flex-direction: column;
  gap: 5px;
  cursor: pointer;
}

.menuIcon span {
  width: 25px;
  height: 3px;
  background-color: var(--color-primary);
  transition: transform 0.3s ease, background-color 0.3s ease;
}

.menuIcon.open span:nth-child(1) {
  transform: rotate(45deg) translate(5px, 5px);
  background-color: var(--color-secondary);
}

.menuIcon.open span:nth-child(2) {
  opacity: 0;
}

.menuIcon.open span:nth-child(3) {
  transform: rotate(-45deg) translate(5px, -5px);
  background-color: var(--color-secondary);
}

.menu {
  display: flex;
  gap: 2rem;
  list-style: none;
  transition: transform 0.3s ease, opacity 0.3s ease;
}

.menuItem a {
  text-decoration: none;
  color: var(--color-text);
  font-size: 1rem;
  transition: color 0.3s ease;
}

.menuItem a:hover {
  color: var(--color-secondary);
}

.menuOpen {
  transform: translateX(0);
  opacity: 1;
}

@media (max-width: 768px) {
  .navbarContent {
    padding: 0 5%;
  }

  .menuIcon {
    display: flex;
  }

  .menu {
    flex-direction: column;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background: var(--color-bg);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    padding: 1rem 5%;
    transform: translateX(100%);
    opacity: 0;
  }

  .menuOpen {
    transform: translateX(0);
    opacity: 1;
  }

  .menuItem {
    text-align: left;
    margin-bottom: 10px;
  }

  .menuItem a {
    font-size: 1.2rem;
  }
}
