@import "../../vars.css";

.navbar {
  width: 100%;
  background-color: var(--color-bg);
  color: var(--color-text);
  font-family: var(--font-primary);
  position: sticky;
  top: 0;
  z-index: 10;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  padding: 1rem 0;
}

.navbarContent {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10%;
  width: 100%;
}

.logo {
  font-size: 1.8rem;
  font-weight: bold;
  color: var(--color-primary);
}

.menuIcon {
  display: none;
  flex-direction: column;
  gap: 5px;
  cursor: pointer;
  position: relative;
  width: 30px;
  height: 24px;
}

.menuIcon span {
  position: absolute;
  width: 100%;
  height: 3px;
  background-color: var(--color-primary);
  transition: all 0.3s ease;
}

.menuIcon span:nth-child(1) {
  top: 0;
}

.menuIcon span:nth-child(2) {
  top: 10px;
}

.menuIcon span:nth-child(3) {
  top: 20px;
}

.menuIcon.open span:nth-child(1) {
  transform: rotate(45deg);
  top: 10px;
  background-color: var(--color-secondary);
}

.menuIcon.open span:nth-child(2) {
  opacity: 0;
}

.menuIcon.open span:nth-child(3) {
  transform: rotate(-45deg);
  top: 10px;
  background-color: var(--color-secondary);
}

.menuWrapper {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.menu {
  display: flex;
  gap: 2rem;
  list-style: none;
}

.menuItem a {
  text-decoration: none;
  color: var(--color-text);
  font-size: 1rem;
  transition: color 0.3s ease;
}

.menuItem a:hover {
  color: var(--color-secondary);
}

.menuOpen {
  display: flex;
  transform: translateX(0);
  opacity: 1;
}

.darkModeToggle {
  background: none;
  border: none;
  font-size: 1.2rem;
  cursor: pointer;
  color: var(--color-primary);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5rem;
  transition: color 0.3s ease, transform 0.2s ease, background-color 0.3s ease;
}

.darkModeToggle:hover {
  color: var(--color-secondary);
  transform: scale(1.1);
  background-color: var(--color-accent);
  border-radius: 50%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.darkModeToggle:focus,
.darkModeToggle:active {
  outline: none;
  border: none;
}

@media (max-width: 768px) {
  .navbarContent {
    padding: 0 5%;
  }

  .menuIcon {
    display: flex;
  }

  .menuWrapper {
    flex-direction: column;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background: var(--color-bg);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    padding: 1rem 5%;
    transform: translateX(100%);
    opacity: 0;
    transition: transform 0.3s ease, opacity 0.3s ease;
  }

  .menuWrapper.menuOpen {
    transform: translateX(0);
    opacity: 1;
  }

  .menu {
    flex-direction: column;
    gap: 1rem;
    list-style: none;
  }

  .menuItem {
    text-align: left;
  }

  .menuItem a {
    font-size: 1.2rem;
  }
}
